<!DOCTYPE html>
<html>
<title>My New Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
  <!-- sign up form -->
  Sign in !!
  <form name="signinform" action="/auth/signin" method="post">
    UserName:<br/><input  name="username" id="username" type="text"><br><br/>
    Password:<br/><input  name="password" id="password" type="password"><br/>
    <input type="submit" value="signin" ><br/>
  </form>
   
<!-- End Page Content -->
</div>

</body>
</html>
